body {
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;
}

.sidebar {
    width: 150px;
    background: #111;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    padding: 20px 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    background: #222;
    border-left: 5px solid crimson;
}

.sidebar a:hover {
    background: #333;
}

.main {
    margin-left: 170px;
    padding: 80px 40px;
    color: white;
    text-align: center;
}

.main h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.main h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

